*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(./img/img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

h1{
  text-align: center;
  margin-top: 100px;
  color: #fff;
}